---
title: JS
---
<div class="homepage-wrapper">
  <div class="col-sm-3 nav-strip">
    <h2>Project Menu</h2>
    <ul class="nav-menue">
      <a href="/hex.html"><li><i class="fa fa-chevron-right"></i> Get every hex value</li></a>
    </ul>
  </div>
  <div class="col-sm-9">
    <div index-header class="headers-wrapper">
      <h1>
        <span class="header"></span>
      </h1>
      <h2>
        <span class="sub-header"></span>
      </h2>
    </div>
    <div class="welcome-info col-sm-6">
      <div class="welcome-header">
        Welcome !
      </div>
      <p>
      Hello there,<br />
      My name is Jack Sharville and im a developer. Like most developers i consider myself to be a amateur developer because there is so much content to read and infinite possibilities to create. That's what makes coding great. But also it makes it very daunting. So here i'm making things and posting them. Might not always be useful or right but its fun.</p>
    </div>
    <div class="welcome-info col-sm-5 col-sm-offset-1">
      <div class="welcome-header">
        Whats New
      </div>
      <p>
      <a href="/hex.html"><li>Get every hex value</li></a><br />
      A small lunch project that i started and it turned out to be quite interesting.</p>
    </div>
  </div>
</div>
