<div class="container">
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-9 hex-header">
      <h2>This page is under construction</h2>
    </div>
    <div class="clearfix"></div>
    <video width="320" height="240" controls>
      <source src="images/ar1.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video>
    <video width="320" height="240" controls>
      <source src="images/ar2.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video>
    <div class="row">
      <hr />
      <div class="col-sm-3 col-xs-12">
        <button type="button" name="back button" onclick="goBack()" style="border-radius: 2px;" class="btn btn-primary btn-block">Go Back</button>
      </div>
    </div>
  </div>
</div>
<script>
  function goBack() {
      window.history.back();
  }
</script>
